@charset "utf-8";

body {
    width: 100%;
    max-width: 1920px;
}

div#main_img {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url('../img/main.jpg');
    background-size: cover;
}

div#main_img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
}

div#main_img h2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.9rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
}

div.contents {
    width: 100%;
}

div.contents ul#main_btn {
    list-style: none;
    display: flex;
    width: 100%;
    height: 9vh;
    background: #aaa;
}

div.contents ul#main_btn li {
    display: block;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    margin: 0 auto;
    padding: 2vh 0;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

div.contents h2 {
}