@charset "utf-8";

body {
    width: 100%;
    max-width: 1920px;
}

div#main_img {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url('../img/main.png');
    background-size: cover;
}

div#main_img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

div#main_img h2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #333;
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

div#main_img p {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    /* border-bottom: solid 1px #333; */
    border-radius: 15rem;
    background:cornflowerblue;
}

div#main_img p a {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    
}

div.contents {
    width: 100%;
}

div.contents ul#main_btn {
    list-style: none;
    display: flex;
    width: 100%;
}

div.contents ul#main_btn li {
    display: block;
    width: 30%;
    height: 5vh;
    line-height: 5vh;
    margin: 0 auto;
    margin-top: -20vh;
    padding: 3vh 0;
    font-size: 2rem;
    color: #fff;
    /* border-bottom: solid 1px #333; */
    border-radius: 15rem;
    background:cornflowerblue;
    text-align: center;
    z-index: 10;
}

div.contents ul#main_btn li a {
    text-decoration: none;
    color:#fff;
}

div.contents ul#main_btn li.dev {
    background: #999;
}

div#topic {
    display: flex;
    width: 100%;
    height: 80vh;
}

ul.topics {
    width: 50%;
    padding-top: 5vh;
    list-style: none;
    text-align: center;
}

ul.topics li#heading2 {
    padding: 3vh 0;
    font-size: 2rem;
    color: #333;
    border-bottom: solid 1px #333;
}

ul.topics li {
    padding: 3vh 0;
    font-size: 1.3rem;
    color: #333;
}